html {
    /* border: 2px solid black; */
    max-width: 500px;
    font-family:Arial, Helvetica, sans-serif;
}
.calculator {
    border: 2px solid black;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
}

td {
    /* border: black 1px solid; */
    max-width: 40px;
}

button {
    /* width: 90px; */
    width: 100%;
    padding: 5px 15px;
    background-color: #cfd1d2;
    color: black;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    border: 1px solid #cfd1d2;
    border-radius: 5px;
    cursor: pointer;
}

button.digit {
    background-color: #e4e4e8;
    border: 1px solid #e4e4e8
}

button.equals {
    background-color: #0077ff;
    border: 1px solid #0077ff;
    color: white;
}

button:hover {
    background-color: #bfbfc3;
    border: 1px solid #bfbfc3;
}

button:active {
    border: 1px solid black;
}

button.equals:hover {
    background-color: #035dc4;
    border: 1px solid #035dc4
}

button.equals:active {
    border: 1px solid black;
}

.display2 {
    text-align:right;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    /* margin: 5px; */
    border-radius: 5px;
    border: 1px solid #bfbfc3;
    display: inline;
}

/* .display {
    text-align:right;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    border-radius: 5px;
    border: 1px solid #bfbfc3;
    display: inline;
    width: 100%;
    overflow-x: scroll;
} */

.display {
    /* min-width:100%; */
    box-sizing: content-box;
    max-width: 100%;
    padding: 10px;
    overflow-x: auto;
    scrollbar-width: thin;
    border-radius: 5px;
    border: 1px solid #bfbfc3;

    font-size: inherit;
    font-weight: inherit;
    text-align:right;
}

.display:focus {
    outline: none;
}

.topbar {
    position: relative;
    max-width: 100%;
    margin:0;
    /* border: solid 1px purple */
}

.historyimg {
    max-height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2%;
    margin: auto;
    opacity: 50%;
    cursor: pointer;
    border: 1px solid black;
}

.historydropdown {
    max-height: 600%;
    max-width: 200%;
    border: 1px black solid;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top:100%;
    background-color: white;
    font-weight: none;
    font-size: 15px;
    display: none;
    overflow-y: auto;
}
  
.historyimg:active {
    visibility: visible;
    border: 2px black solid;
    position: absolute;
    background-color: white;
}

.history-dd-button {
    width: auto;
    background-color: white;
    color: black;
    font-size: 15px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#clear-history {
    background-color: lightblue;
    right: 0;
    top: 0;
    width: 100%;
    display: none;
}